{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{! Everything inside the #post tags pulls data from the post }}

<main class="content" role="main" id="top-post">

    <!--
        <div class="back">
            <a href="{{@blog.url}}">&larr;  back to the home page</a>
        </div>
      -->
    <article itemscope itemtype="https://schema.org/Article" class="{{post_class}} purity_post">

        {{#post}}

        <header class="post-header">
            {{! img class="post-avatar" alt="...'s avatar" src="..." height="48" width="48"}}
            <h2 itemprop="name" class="post-title big">{{title}}</h2>
        </header>

        {{! Everything below outputs content of the the post which has been published }}

        <section class="post-content">
          <div itemprop="articleBody">
              {{content}}
          </div>
        </section>

        {{/post}}

    </article>
    <script type="text/javascript">
        document.getElementById( 'top-post' ).scrollIntoView();
    </script>

</main>
